<div class="item">

{{ with .Params.journal }}
{{ $journal := default "" $.Params.journal }}
{{ if ne "" $journal }}
{{ printf ", " | $.Scratch.Set "journalcomma" }}
{{ end }}
{{ end }}

{{ with .Params.volume }}
{{ $volume := default "" $.Params.volume }}
{{ if ne "" $volume }}
{{ printf ", " | $.Scratch.Set "volumecomma" }}
{{ end }}
{{ end }}

{{ with .Params.issue }}
{{ $issue := default "" $.Params.issue }}
{{ if ne "" $issue }}
{{ printf "(" | $.Scratch.Set "issue_l_bracket" }}
{{ printf ")" | $.Scratch.Set "issue_r_bracket" }}
{{ end }}
{{ end }}

{{ with .Params.article_nr }}
{{ $article_nr := default "" $.Params.article_nr }}
{{ if ne "" $article_nr }}
{{ printf "Article " | $.Scratch.Set "article_nr_label" }}
{{ printf ", " | $.Scratch.Set "article_nr_comma" }}
{{ printf ". " | $.Scratch.Set "pagesdot" }}
{{ end }}
{{ end }}

{{ with .Params.pages }}
{{ $pages := default "" $.Params.pages }}
{{ if ne "" $pages }}
{{ printf ". " | $.Scratch.Set "pagesdot" }}
{{ end }}
{{ end }}

{{ with .Params.doi }}
{{ $doi := default "" $.Params.doi }}
{{ if ne "" $doi }}
{{ printf "https://doi.org/%s" . | $.Scratch.Set "doi" }}
{{ end }}
{{ end }}

{{ with .Params.peer_reviewed_article }}
{{ $peer_reviewed_article := default "" $.Params.peer_reviewed_article }}
{{ if ne "" $peer_reviewed_article }}
{{ printf "<li style='display: inline; padding-right: 10px;'><i class='fas fa-microscope'></i> <a href=%s>peer-reviewed article</a></li>" . | $.Scratch.Set "peer_reviewed_article" }}
{{ end }}
{{ end }}

{{ with .Params.preprint }}
{{ $preprint := default "" $.Params.preprint }}
{{ if ne "" $preprint }}
{{ printf "<li style='display: inline; padding-right: 10px; white-space: nowrap;'><i class='fas fa-file-pdf'></i> <a href=%s>preprint</a></li>" . | $.Scratch.Set "preprint" }}
{{ end }}
{{ end }}

{{ with .Params.pdf }}
{{ $pdf := default "" $.Params.pdf }}
{{ if ne "" $pdf }}
{{ printf "<li style='display: inline; padding-right: 10px; white-space: nowrap;'><i class='fas fa-file-pdf'></i> <a href=%s>pdf</a></li>" . | $.Scratch.Set "pdf" }}
{{ end }}
{{ end }}

{{ with .Params.poster }}
{{ $poster := default "" $.Params.poster }}
{{ if ne "" $poster }}
{{ printf "<li style='display: inline; padding-right: 10px; white-space: nowrap;'><i class='fas fa-file-image'></i> <a href=%s>poster</a></li>" . | $.Scratch.Set "poster" }}
{{ end }}
{{ end }}

{{ with .Params.github }}
{{ $github := default "" $.Params.github }}
{{ if ne "" $github }}
{{ printf "<li style='display: inline; padding-right: 10px; white-space: nowrap;'><i class='fab fa-github'></i> <a href=%s>github</a></li>" . | $.Scratch.Set "github" }}
{{ end }}
{{ end }}

{{ with .Params.osf }}
{{ $osf := default "" $.Params.osf }}
{{ if ne "" $osf }}
{{ printf "<li style='display: inline; padding-right: 10px; white-space: nowrap;'><i class='fa fa-box-open'></i> <a href=%s>osf</a></li>" . | $.Scratch.Set "osf" }}
{{ end }}
{{ end }}

{{ with .Params.video }}
{{ $video := default "" $.Params.video }}
{{ if ne "" $video }}
{{ printf "<li style='display: inline; padding-right: 10px; white-space: nowrap;'><i class='fas fa-video'></i> <a href=%s>video</a></li>" . | $.Scratch.Set "video" }}
{{ end }}
{{ end }}

{{ with .Params.walkthrough }}
{{ $walkthrough := default "" $.Params.walkthrough }}
{{ if ne "" $walkthrough }}
{{ printf "<li style='display: inline; padding-right: 10px; white-space: nowrap;'><i class='fas fa-book-open'></i> <a href=%s>walkthrough</a></li>" . | $.Scratch.Set "walkthrough" }}
{{ end }}
{{ end }}


    <h4 align="left">
      <ul>
        <p>
          {{ with .Params.year_heading }}
          {{ $year_heading := default "" $.Params.year_heading }}
          {{ if ne "" $year_heading }}
          <hr>
          {{ end }}
          {{ end }}

          <h3>{{ .Params.year_heading }}</h3>

          {{ with .Params.year_heading }}
          {{ $year_heading := default "" $.Params.year_heading }}
          {{ if ne "" $year_heading }}
          <br><br>
          {{ end }}
          {{ end }}


          {{ .Scratch.Get "year_heading_break" }}
          {{ .Params.authors }} ({{ .Params.year }}). {{ .Params.title }} <i>{{ .Params.journal }}</i>{{ .Scratch.Get "journalcomma" }}<i>{{ .Params.volume }}</i>{{ .Scratch.Get "issue_l_bracket" }}{{ .Params.issue }}{{ .Scratch.Get "issue_r_bracket" }}{{ .Scratch.Get "volumecomma" }}{{ .Scratch.Get "article_nr_label" }}{{ .Params.article_nr }}{{.Params.article_nr_comma}}{{ .Params.pages }}{{ .Scratch.Get "pagesdot" }}<a href={{ .Scratch.Get "doi" }}>{{ .Scratch.Get "doi" }}</a>
          <hr style="height:10pt; visibility:hidden; margin:0; border:0">
          <ul>
            {{ .Scratch.Get "peer_reviewed_article" | safeHTML }}
            {{ .Scratch.Get "preprint" | safeHTML }}
            {{ .Scratch.Get "pdf" | safeHTML }}
            {{ .Scratch.Get "poster" | safeHTML }}
            {{ .Scratch.Get "github" | safeHTML }}
            {{ .Scratch.Get "osf" | safeHTML }}
            {{ .Scratch.Get "walkthrough" | safeHTML }}
            {{ .Scratch.Get "video" | safeHTML }}
          </ul>
        </p>
      </ul>
    </h4>


</div>


